<header class="navbar-container">
  <div class="logo" routerLink="/">
    <h2>🛒 MyShop</h2>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="მოძებნე პროდუქტი...">
    <button class="search-btn">🔍</button>
  </div>

  <div class="right-menu">
    <div class="cart-icon" routerLink="/cart">
      <span class="cart-emoji">🛒</span>
      <span class="badge">{{ totalItem }}</span> 
    </div>

    <ng-container *ngIf="!isLoggedIn">
      <button class="login-btn" routerLink="/login">შესვლა</button>
      <button class="register-btn" routerLink="/signup">რეგისტრაცია</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <button class="login-btn" routerLink="/profile">👤 პროფაილი</button>
      <button class="register-btn logout-btn" (click)="logout()">გასვლა</button>
    </ng-container>
  </div>
</header>