<div class="product-card" [routerLink]="['/product', product.id || product._id]">
  <div class="image-wrapper">
    <img [src]="product.thumbnail || (product.images ? product.images[0] : '')" alt="Product">
  </div>
  
  <div class="card-info">
    <h3>{{ product.title }}</h3>
    <p class="brand">{{ product.brand }}</p>
    
    <div class="price-row">
      <span class="price">{{ product.price?.current || product.price?.amount || product.price?.value || product.price }} ₾</span>
      <span class="rating">⭐ {{ product.rating }}</span>
    </div>
    
    <button class="add-to-cart-btn" (click)="addToCart(product, $event)">
      🛒 კალათაში
    </button>
  </div>
</div>